<div class="form-sync__container">
  <div class="form-sync__settings">
    <mat-slide-toggle id="sync-switch"
      color="primary"
      [checked]="syncEnabled$ | async"
      (change)="onFormGroupSyncChange($event)">Sync Form
    </mat-slide-toggle>
  </div>

  <form [formGroupId]="formGroupId"
    [formGroup]="formGroup"
    [formGroupSync]="syncEnabled$ | async">
    <div class="form-sync__fields">
      <mat-form-field>
        <input id="firstName"
          [attr.value]="formGroup.get('firstName').value"
          matInput
          [formControl]="formGroup.get('firstName')"
          placeholder="First name">
      </mat-form-field>

      <mat-form-field>
        <input id="lastName"
          [attr.value]="formGroup.get('lastName').value"
          matInput
          [formControl]="formGroup.get('lastName')"
          placeholder="Last name">
      </mat-form-field>
    </div>

    <button mat-flat-button
      color="primary"
      (click)="onSubmit()">
      Submit
    </button>
  </form>
</div>
