<div class="form-sync__container">
  <form [formGroup]="formGroup1"
    [formGroupSync]="true"
    formGroupId="formGroup1">
    <div>
      <input [formControl]="formGroup1.get('firstName')"
        [formControlSync]="false"
        placeholder="first name" />
      <input [formControl]="formGroup1.get('middleName')"
        placeholder="middleName" />
      <input [formControl]="formGroup1.get('lastName')"
        placeholder="last name" />
    </div>

    <button type="submit">Submit 1</button>
  </form>
</div>
