# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/dist
/tmp
/coverage

# dependencies
/node_modules
/demo/node_modules
/bower_components
/node

# IDEs and editors
.idea/
.project
*.iml
.classpath
*.launch
.settings/

# misc
/.sass-cache
/connect.lock
/coverage/*
/libpeerconnection.log
npm-debug.log
testem.log
/typings

# e2e
/e2e/*.js
/e2e/*.map

#System Files
.DS_Store
Thumbs.db
/node/
/target/
