<mat-toolbar color="primary">
  <button mat-icon-button
    (click)="menuClicked.emit()"
    [disableRipple]="true">
    <mat-icon>menu</mat-icon>
  </button>
  <div class="center">
    <h1 class="mat-display-1"
      (click)="navigateHome.emit()">
      {{ isMobile ? 'ngrx-store-storagesync' : '@larscom/ngrx-store-storagesync' }}
    </h1>
  </div>
  <button mat-icon-button
    title="reset state"
    (click)="resetState.emit()"
    [disableRipple]="true">
    <mat-icon>refresh</mat-icon>
  </button>
</mat-toolbar>
