<div class="todo-list__container"
  [style.minWidth]="(isMobile$ | async) ? 'auto' : '500px'">
  <h2>Add Todo</h2>

  <div class="input__container">
    <mat-form-field>
      <input matInput
        id="add-todo"
        [(ngModel)]="todo"
        placeholder="Add simple todo">
    </mat-form-field>
    <button mat-raised-button
      color="primary"
      id="add-todo"
      (click)="addTodo()">Add</button>
  </div>

  <ng-container *ngIf="count$ | async as count; else noTodo">
    <h2>Todo ({{ count }})</h2>
    <mat-selection-list id="selectTodos">
      <ng-container *ngFor="let todo of todos$ | async">
        <mat-list-option color="primary" [title]="todo.id"
          (click)="onTodoClicked(todo)">{{ todo.value }}</mat-list-option>
        <mat-divider></mat-divider>
      </ng-container>
    </mat-selection-list>
  </ng-container>
  <ng-template #noTodo>
    <p>Nothing to do....</p>
  </ng-template>

  <ng-container *ngIf="completedCount$ | async as count">
    <h2 id="completed-count">Completed ({{ count }})</h2>
    <mat-list>
      <ng-container *ngFor="let todo of completedTodos$ | async">
        <mat-list-item [title]="todo.id">{{ todo.value }}</mat-list-item>
        <mat-divider></mat-divider>
      </ng-container>
    </mat-list>
  </ng-container>
</div>
