.todo-list__container {
  max-width: 500px;
}

.input__container {
  display: flex;
  margin-top: 50px;
  justify-content: space-between;
  align-items: center;
}

button {
  margin-left: 10px;
  min-width: 100px;
}

mat-form-field {
  width: 100%;
}

h2,
p {
  margin-top: 25px;
}
