<mat-nav-list>
  <mat-divider></mat-divider>
  <a mat-list-item>
    <mat-icon class="mat-icon-grey">sd_storage</mat-icon>
    <span>Local Storage</span>
  </a>
  <a mat-list-item>
    <mat-icon class="mat-icon-grey">timer</mat-icon>
    <span>Session Storage</span>
  </a>
  <mat-divider></mat-divider>
  <a mat-list-item>
    <mat-icon class="mat-icon-grey">settings</mat-icon>
    <span>Settings</span>
  </a>
  <mat-divider></mat-divider>
  <a mat-list-item>
    <mat-icon class="mat-icon-grey">account_circle</mat-icon>
    <span>My Profile</span>
  </a>
</mat-nav-list>
