.todo-list__container {
  margin-top: 20px;
  padding: 20px;
  max-width: 500px;
}

.input__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

button {
  margin-left: 10px;
  min-width: 100px;
}

mat-form-field {
  width: 100%;
}
