<div class="container"
  [ngClass]="{ 'dark-theme' : isDarkTheme$ | async }">
  <app-header [isMobile]="isHandsetPortrait$ | async"
    [isPlatformBrowser]="isPlatformBrowser"
    (menuClicked)="onMenuClicked()"
    (resetState)="onResetState()"
    (menuButtonRendered)="onMenuButtonRendered($event)">
  </app-header>
  <app-drawer>
    <ng-container *ngIf="showStorageDisplay$ | async">
      <app-storage-display></app-storage-display>
    </ng-container>
    <router-outlet></router-outlet>
  </app-drawer>
</div>
