@import '~@angular/material/theming';
@include mat-core();
.dark-theme {
  $custom-theme-primary: mat-palette($mat-amber);
  $custom-theme-accent: mat-palette($mat-grey);
  $custom-theme-warn: mat-palette($mat-red);
  $custom-theme: mat-dark-theme($custom-theme-primary, $custom-theme-accent, $custom-theme-warn);
  @include angular-material-theme($custom-theme);
}

$custom-theme-primary: mat-palette($mat-amber);
$custom-theme-accent: mat-palette($mat-grey);
$custom-theme-warn: mat-palette($mat-red);
$custom-theme: mat-light-theme($custom-theme-primary, $custom-theme-accent, $custom-theme-warn);
@include angular-material-theme($custom-theme);

body {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}
