@use '@angular/material' as mat;
@include mat.core();
.dark-theme {
  $custom-theme-primary: mat.define-palette(mat.$amber-palette);
  $custom-theme-accent: mat.define-palette(mat.$grey-palette);
  $custom-theme-warn: mat.define-palette(mat.$red-palette);
  $custom-theme: mat.define-dark-theme($custom-theme-primary, $custom-theme-accent, $custom-theme-warn);
  @include mat.all-component-themes($custom-theme);
}

$custom-theme-primary: mat.define-palette(mat.$amber-palette);
$custom-theme-accent: mat.define-palette(mat.$grey-palette);
$custom-theme-warn: mat.define-palette(mat.$red-palette);
$custom-theme: mat.define-light-theme($custom-theme-primary, $custom-theme-accent, $custom-theme-warn);
@include mat.all-component-themes($custom-theme);

body {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}
