name: workflow

on:
  push:
    tags:
      - '*.*.*'
    branches:
      - '**'
  merge_group:
  pull_request:
    branches:
      - main

env:
  CI: true

jobs:
  test:
    runs-on: ubuntu-latest
    env:
      TZ: Europe/Amsterdam
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-node@v6
        with:
          node-version: 24
          registry-url: https://registry.npmjs.org/
      - run: |
          npm ci --ignore-scripts --legacy-peer-deps
          npm run build
          npm run test

  publish:
    if: startsWith(github.ref, 'refs/tags/')
    needs: [test]
    runs-on: ubuntu-latest
    env:
      TZ: Europe/Amsterdam
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-node@v6
        with:
          node-version: 24
          registry-url: https://registry.npmjs.org/
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NODE_AUTH_TOKEN }}
      - run: |
          npm ci --ignore-scripts --legacy-peer-deps
          npm run build
      - run: |
          cp README.md dist/ngrx-store-storagesync
          cd dist/ngrx-store-storagesync

          version=${{ github.ref_name }}
          sed -i "s/\"version\": \"[^\"]*\"/\"version\": \"$version\"/" ./package.json

          npm publish
